@import url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
   
}

body{ 
    background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
    font-family: 'Barlow Semi Condensed', sans-serif; 


}
.wrapper{
    display: flex;
    flex-direction: column;
    place-items: center;  

}

#logo{
    margin-left: 30px;
}
.container{
    width: 700px;
    height: 150px;
    border: 3px solid rgba(255, 255, 255, 0.289199);
    border-radius: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.scoreboard{
    width: 150px;
    height: 114px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#score{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.5px;
    color: hsl(229, 64%, 46%)
}
#score-num{
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #565468;
  
}
.choice{
    background: url('/images/bg-triangle.svg');
    width: 476px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    background-repeat: no-repeat;
    background-position: center;

    margin-top: 50px;
    
}
.game-container{
    display: flex;
    justify-content: center;
}
#icon-paper{
    width: 67px;
    height: 80px;
}
#paper{
    width: 152px;
    height: 144px;
    border-radius: 50%;
    background: linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%);
    display: grid;
    place-items: center;
    box-shadow: inset  0px 8px 2px #BABFD4;
}

.paper-oval{
    width: 198px;
    height: 194px;
    border-radius: 50%;
    background: hsl(230, 89%, 62%);
    display: grid;
    place-items: center;

}
.master-paper{
    width: 198px;
    height:203px;
    background: #2A45C2;
    border-radius: 50%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
    cursor: pointer;
    

}

.master-paper:active{

    animation: animate 4s ease-out infinite;
}

@keyframes animate{
    0%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.05);
         
        
    }
    
}
#icon-scissors{
    width: 54px;
    height: 80px;
}

#scissors{
    width: 152px;
    height: 144px;
    border-radius: 50%;
    background: linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%);
    display: grid;
    place-items: center;
    box-shadow: inset  0px 8px 2px #BABFD4;
}
.scissors-oval{
    width: 198px;
    height: 194px;
    border-radius: 50%;
    background:hsl(39, 89%, 49%);
    display: grid;
    place-items: center;
   
}
.master-scissors{
    width: 198px;
    height:203px;
    background: hsl(28, 76%, 44%);
    border-radius: 50%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
    cursor: pointer;
    margin-left: 60px;


}

.master-scissors:active{

    animation: animate 4s ease-out infinite;
}

@keyframes animate{
    0%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.05);
         
        
    }
    
}
#icon-rock{
    width: 64px;
    height: 64px;
}
#rock{
    width: 152px;
    height: 144px;
    border-radius: 50%;
    background: linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%);
    display: grid;
    place-items: center;
    box-shadow: inset  0px 8px 2px #BABFD4;
}
.rock-oval{
    width: 198px;
    height: 194px;
    border-radius: 50%;
    background: #DB2E4D;
    display: grid;
    place-items: center;
}

.master-rock{
    width: 198px;
    height:203px;
    background: #9D1634;
    border-radius: 50%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
    cursor: pointer;

}
.master-rock:active{

    animation: animate 4s ease-out infinite;
}

@keyframes animate{
    0%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.05);
         
        
    }
    
}

#rules{
    width: 128px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background: none;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 19.2px;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer; 
   


}
.rules:hover{
    background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    color: #3B4262;
    

}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 70px;
}
    

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.scissors-copy{
    width: 198px;
    height:203px;
    background: hsl(28, 76%, 44%);
    border-radius: 50%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
}
.contest {
    display:none;
    flex-direction: row;
    place-content: center;
    margin-top: 70px;
    gap: 60px;
    text-align: center;   
    
}
.ref{
    position: relative;
    top: 100px;
    text-align: center;
   
}

.circle{
    display: flex;
    justify-content: center;
    width: 224px;
    height: 224px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

#pi{
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 40px;
    
      
}
#house-pick{
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
#win{
    font-weight: 700;
    font-size: 56px;
    line-height: 67px;
    color: #FFFFFF;
}

#play{
    width: 220px;
    height: 48px;
    border-style: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.5px;
    color: #3B4262;
    margin-top: 10px;
    cursor: pointer;

}





/*Media query for mobile phones*/
@media screen and (min-width: 320px) and (max-width: 480px){
body{
    height: 100vh;
}
#logo{
    width: 30%;
    margin-left: 20px;
}

.wrapper{
    display: flex;
    place-items: center;
}
.container{
    width: 311px;
    height: 96px;
    border-radius: 5px;
    margin-top: 30px;
}

.scoreboard{
    width: 80px;
    height: 72px;
    border-radius: 4px;
    margin-right: 10px;

}
#score{
   
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.5625px;
}
#score-num{
    font-size: 40px;
    line-height: 40px;
    text-align: center
}
.choice{
    width: 312px;
    height: 281px;
    background-size: 166px 187px;
   
}
      
.master-paper{
    width: 130px;
    height: 133px;
}
.paper-oval{
    width: 129px;
    height: 126px;
}
#paper{
    width: 99px;
    height: 94px;

}
#icon-paper{
    width: unset;
    height: unset;
}
.master-scissors{
    width: 130px;
    height: 133px;
    margin-left: 40px;
}
.scissors-oval{
    width: 129px;
    height: 126px;
}
#scissors{
    width: 99px;
    height: 94px;
}
#icon-scissors{
    width: unset;
    height: unset;
}
.master-rock{
    width: 130px;
    height: 133px;
}
.rock-oval{
    width: 129px;
    height: 126px;
}
#rock{
    width: 99px;
    height: 94px;
}
#icon-rock{
    width: unset;
    height: unset;
}
.scissors-copy{
    width: 130px;
    height: 133px;
}
.circle{
    width: 110px;
    height: 110px
}



.attribution, .attribution a{
    display: none;
}
#pi{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.88px;
    position: absolute;
    top: 350px;
    text-align: center;
    
}
#house-pick{
    font-size:  15px;
    font-weight: 700;
    letter-spacing: 1.88px;
    position: absolute;
    top: 350px;
    text-align: center;
    
}

.contest{    
    gap:60px;
    margin-top: 80px;
}

.ref{
    position: absolute;
    top: 440px;


}
}

/*media query for tablets*/
@media screen and (min-width:768px) and (max-width:1024px){

    .contest{
        gap: 40px;

    }

}



