@import url("https://fonts.google.com/specimen/Barlow+Semi+Condensed");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
   
}

body{ 
    background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
    font-family: 'Barlow Semi Condensed', sans-serif; 
    min-height: 100vh;
    


}
.wrapper{
    display: flex;
    flex-direction: column;
    place-items: center;  

}

.logo{
    margin-left: 30px;
}
.logo-bonus{
    margin-left: 30px; 
    width: 111px;
    height: 110px;
}
.container{
    width: 700px;
    height: 150px;
    border: 3px solid  hsl(217, 16%, 45%);
    border-radius: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.scoreboard{
    width: 150px;
    height: 114px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#score{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.5px;
    color: hsl(229, 64%, 46%)
}
#score-num{
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: hsl(246, 11%, 37%);
  
}
.game-box{
    display: flex;
    justify-content: center;
}
.player-choice{
    background: url('/images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: (repeat(2, 1fr));
    grid-template-areas: 
    "paper scissors"
    "rock rock";
    margin-top: 60px;
    gap: 40px;
}

.choice img{
    width: 68px;
    height: 80px;
    transform: rotate(-4deg);
}   
.choice::before{
    content: "";
    width: 152px;
    height: 144px;
    border-radius: 50%;
    background: linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%);
    position: absolute;
    box-shadow: inset 0px 8px 2px hsl(228, 23%, 78%);
    cursor: pointer;
}


.choice{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    cursor: pointer;  
  
}



.choice.paper{
    width:198px;
    height:194px;
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    box-shadow: 0px 6px 0px 0px  hsl(229, 64%, 46%);
    
}
.choice.scissors{
    width:198px;
    height:194px;
    background: linear-gradient( hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    box-shadow: 0px 6px 0px 0px hsl(28, 76%, 44%);
   
}
.choice.rock{
    width:198px;
    height:194px;
    background: linear-gradient( hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    box-shadow:  0px 6px 0px 0px hsl(347, 75%, 35%);
    grid-area: rock;
}
.choice.spock{
    width:198px;
    height: 194px;
    background: linear-gradient(hsl(189, 59%, 53%),  hsl(189, 58%, 57%));
    box-shadow: 0px 6px 0px 0px #2D8DAB;
    

}
.choice.lizard{
    width:198px;
    height:194px;
    background: linear-gradient( hsl(261, 73%, 60%),hsl(261, 72%, 63%));
    box-shadow: 0px 6px 0px 0px hsl(261, 51%, 44%);

}


.bonus-game .choice.paper{
    width: 145px;
    height: 141px;
    top:-50px;
    left: 70px;
   
   
}
.bonus-game .choice.scissors{
    width: 145px;
    height: 141px;
    grid-area: scissors;
    top: -30px;
}
.bonus-game .choice.rock{
    width: 145px;
    height: 141px;
    grid-area: rock;
    top: -20px;
    left: 30px;
}
.bonus-game .choice.spock{
    width:145px;
    height: 141px;
    background: linear-gradient(hsl(189, 59%, 53%),  hsl(189, 58%, 57%));
    box-shadow: 0px 6px 0px 0px hsl(194, 58%, 42%);
    grid-area: spock;
    top:-50px;
    left: -60px;
   
}

.bonus-game .choice.lizard{
    width:145px;
    height:141px;
    background: linear-gradient(hsl(261, 73%, 60%),  hsl(261, 72%, 63%));
    box-shadow: 0px 6px 0px 0px hsl(261, 51%, 44%);
    grid-area: lizard;
    top: -20px;

}
.choice:focus{
    opacity: 1;
    box-shadow: 0 0 0 32px rgba(255, 255, 255, 0.05);
    transition: opacity 0.4s ease-out;
}



.rulesBtn{
    width: 128px;
    height: 40px;
    border: 1px solid  hsl(217, 16%, 45%);
    border-radius: 8px;
    background: none;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 19.2px;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer; 
}

.rulesBtn:focus{
    background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    color: #3B4262; 
      

}
.bonus-btn{
    width: 128px;
    height: 40px;
    border: 1px solid  hsl(217, 16%, 45%);
    border-radius: 8px;
    background: none;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 19.2px;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer; 
}

.btn{
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;

}



.attribution { 
    font-size: 11px; 
    text-align: center; 
    
}
    

.attribution a { 
    color: hsl(228, 45%, 44%); 
    bottom: 0;
}



.game{
   display: flex;
   justify-content: center;
   gap: 50px;
   place-items: center;
      
}
.bonus-game{
    background: url('/images/bg-pentagon.svg');
    background-repeat: no-repeat;
    background-position: center;
    grid-template-columns: (repeat(3, 1fr));
    grid-template-areas: 
    "scissors scissors"
    "spock paper"
    "lizard rock";
    display: grid;
    place-items: center;
    width:345px; 
    height: 345px;
    margin-top: 70px;
    margin-bottom: 70px;
}
 
.bonus-game .choice::before{
    content: " ";
    width: 111px;
    height: 104px;
    border-radius: 50%;
    background: linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%);
    position: absolute;
    box-shadow: inset 0px 8px 2px hsl(228, 23%, 78%);
    cursor: pointer;
   
}
.bonus-game img{
    width: 43px;
    height: 58px;
}

.game_heading{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    margin-top: 70px;
   
}

.game_pick{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    margin-top: 40px;
}

.game_winner{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
   
   
}

.modal-content {
    background-color: white;
    width:400px;
    height: 415px;
    border-radius: 8px;
    
    
}
.modal_heading{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    line-height: 32px;
    color: #3B4262;
    
   
}

.close-button{
    cursor: pointer;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.hidden{
    display: none;
}

.img-con{
    display: flex;
    place-items: center;
    justify-content: center;
}

#game_text{
   font-size: 56px;
   color: white;
   font-weight: 700;
   text-align: center;
   font-style: normal;
   font-family:'Barlow Semi Condensed', sans-serif;
   padding-bottom: 5px;
}

.play-again{
    color: #3B4262;
    width: 220px;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.5px;
    border-style: none;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    
}
.winner{
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.05), 0 0 0 80px rgba(255, 255, 255, 0.05), 0 0 0 130px rgba(255, 255, 255, 0.05);
    animation: winner ease-in-out;
}

@keyframes winner {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}






/*Media query for mobile phones and tablets*/
@media screen and (min-width: 320px) and (max-width: 480px){


    .logo{
        width: 30%;
        margin-left: 20px;
    }
    .logo-bonus{
        width: 48px;
        height: 48px;
    }
    
    .wrapper{
        display: flex;
        place-items: center;
    }
    .container{
        width: 311px;
        height: 96px;
        border-radius: 5px;
        margin-top: 30px;
    }
    
    .scoreboard{
        width: 80px;
        height: 72px;
        border-radius: 4px;
        margin-right: 10px;
    
    }
    #score{
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 1.5625px;
    }
    #score-num{
        font-size: 40px;
        line-height: 40px;
        text-align: center
    }
    .player-choice{
        width: 312px;
        height: 281px;
        background-size: 166px 187px;
        gap: 20px;
       
    }
    
    
    .choice img{
        width: 48px;
        height: 56px;
        
    
    }
    .choice::before{
        width: 99px;
        height: 100px;
    } 
    .choice.paper{
        width: 129px;
        height: 126px;
    }
    .choice.scissors{
        width: 129px;
        height: 126px;
    }
    .choice.rock{
        width: 129px;
        height: 126px;
    }
    .bonus-game{
      background-size: 227px;
      margin-top: 40px;
    }
    .bonus-game .choice::before{
        width: 73px; 
        height: 68px;
    
    }
    .bonus-game .choice.paper{
        width: 92px;
        height: 92px;
        top: -30px;
        left: 10px;

    }
    .bonus-game .choice.scissors{
        width: 96px;
        height: 92px;
        top: 10px;
    }
    .bonus-game .choice.rock{
        width: 96px;
        height: 92px;
        left: -10px;
    }
    .bonus-game .choice.spock{
        width: 96px;
        height: 92px;
        left: -10px;
        top: -20px;


    }
    .choice.spock{
        width: 129px;
        height: 126px;
    }
    .choice.lizard{
        width: 129px;
        height: 126px;


    }
    .bonus-game .choice.lizard{
        width: 96px;
        height: 92px;
        left: 30px;
        top: -20px;
    }
    .bonus-game img{
        width: 29px;
        height: 38px;
    }
    
    .btn{
     position: absolute;
     bottom: 2rem;
     display: flex;
     place-items: center;
     gap: 20px;
    
    }
    .modal-content{
        width: 100%;
        height: 100%;
        border-radius: 0;

    }
    
    .modal_heading{
        display: flex;
        flex-direction: column;
        place-items: center;
        margin-top: 50px;
        margin-bottom: 50px; 
     
    }
  
    .game_pick{
        width: 130px;
        height: 130px;
        margin-top: 25px;
    
    }
    .game_heading{
        font-size: 15px;
        font-weight: 700;
        line-height: 32px;
        margin-top: 5px;
        position: relative;
        top: 215px;
        
    }
    .game_winner{
       position: absolute;
       top: 320px;
         
    }
    
    .close-button{
        position: absolute;
        top: 600px;
    }
    


footer{
    display: none;
}

}