@import url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);

body{
   
    height: 768px;
    background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
}
.box{
    display: flex;
    justify-content: center;
    margin: 50px;

}
#logo{
    width: 159px;
    height: 96px;
    margin-top: 30px;
    margin-bottom: 20px;
  
}
.container{
    display: flex;
    flex-direction: row;
    gap: 390px;
    border: 3px solid rgba(255, 255, 255, 0.289199);
    border-radius: 15px;
    width: 700px;
    height: 150px;
    padding-left: 20px;
    padding-right: 20px;
  
  
  
   
}
.score-container{
    width: 150px;
    height: 114px;
    background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    
       
}
#score{
    color: #2A45C2;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 19px;
    font-weight: 600;
    letter-spacing: 2.5px;
    font-size: 16px;
    text-align: center;   
}
#score_num{
   color: #565468;
   font-family:'Barlow Semi Condensed', sans-serif; 
   font-size: 64px;
   line-height: 64px;
   font-weight: 700;
   display: block;
   text-align: center;
   padding: 5px;
   

   
}
.path{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.master-paper{
    border-radius: 50%;
    width: 198px;
    height: 194px;
    background-color: #4664F4;
    
   
}
#icon-paper{
 width: 73px;
 height: 86px; 
 margin: 30px 35px 35px 40px;
 color: #3B4262;
 transform: rotate(180deg);
 
}
#paper{
    border-radius: 50%;
    width: 152px;
    height: 144px;
    background: linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%);
    position: absolute;
    
}
.master-oval-paper{
    border-radius: 50%;
    width: 198px;
    height: 203px;
    background: #2A45C2;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
    position: absolute;
    top: 262px;
    left: 445px;

}
.master-scissors{
    border-radius: 50%;
    width: 198px;
    height: 194px;
    background-color: #EB9F0E;
   
 

}
#scissors{
    border-radius: 50%;
    width: 152px;
    height: 144px;
    background: linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%);
    position: absolute;  
    
}
#icon-scissors{
    width: 54px;
    height: 80px;
    color: #3B4262;
    margin: 30px 40px 40px 50px;
    transform: rotate(180deg);
    
}
.master-oval-scissors{
  border-radius: 50%;
  width: 198px;
  height: 203px;
  background: #C76C1B;
  position: absolute;
  top: 262px;
  left: 723px;
}
#icon-rock{
    width: 64px;
    height: 64px;
    color: #3B4262;
    transform: rotate(180deg);
    margin: 35px 45px 45px 45px;
    
}
#rock{
    border-radius: 50%;
    width: 152px;
    height: 144px;
    background: linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%);
   
}
.master-oval-rock{
    border-radius: 50%;
    width: 198px;
    height: 203px;
    background: #9D1634;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
    position: absolute;
    left: 584px;
    top: 489px;
   
}

.master-rock{
    border-radius: 50%;
    width: 198px;
    height: 194px;
    background-color: #DB2E4D;

}
#oval{
    border-radius: 50%;
    width: 152px;
    height: 152px;
    background-color: #BABFD4;
    transform: rotate(-180deg);
    position: absolute;
    margin: 22px 24px 22px 24px;  
}

#rules{
    width: 128px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background: none;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 19.2px;
    text-align: center;
    color: white;
}
#btn{
    margin-top: 100px;
    float: right;
    margin-right: 50px;
}




.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 170px;
}
    

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.master-oval-paper :hover{
    border-radius: 50%;
    width: 252px;
    height: 248px;
    background: #FFFFFF;
    opacity: 0.05;
   
}