@import url(https://fonts.google.com/specimen/Barlow+Semi+Condensed);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
   
}

body{ 
    background: radial-gradient(134.34% 134.34% at 50% 0%, #1F3757 0%, #131537 100%);
    font-family: 'Barlow Semi Condensed', sans-serif; 
    min-height: 100vh;
    


}
.wrapper{
    display: flex;
    flex-direction: column;
    place-items: center;  

}

#logo{
    margin-left: 30px;
}
.container{
    width: 700px;
    height: 150px;
    border: 3px solid  hsl(217, 16%, 45%);
    border-radius: 15px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.scoreboard{
    width: 150px;
    height: 114px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#score{
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.5px;
    color: hsl(229, 64%, 46%)
}
#score-num{
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #565468;
  
}
.game-box{
    display: flex;
    justify-content: center;
}
.player-choice{
    background: url('/images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 476px;
    height: 430px;
    position: relative;
    display: grid;
    place-items: center;
    grid-template-columns: (repeat(2, 1fr));
    grid-template-areas: 
    "paper scissors"
    "rock rock";
    margin-top: 60px;
    gap: 40px;
    

}
.pick-btn[data-choice = "paper"]{
    grid-area: paper;
}

.pick-btn[data-choice = "scissors"]{
    grid-area: scissors;
}
.pick-btn[data-choice = "rock"]{
    grid-area: rock;
}



.choice img{
    width: 68px;
    height: 80px;
    transform: rotate(-4deg);
        
}
.choice{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 152px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
      
}


.choice:before{
    content: '';
    width: 152px;
    height: 152px;
    border-radius: 50%;
    box-shadow: inset  0px 8px 2px hsl(228, 23%, 78%);
    background: linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%);
    position: absolute;
}

.choice.paper{
    width:198px;
    height:194px;
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    box-shadow: 0px 6px 0px 0px  hsl(229, 64%, 46%);
}
.choice.scissors{
    width:198px;
    height:194px;
    background: linear-gradient( hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    box-shadow: 0px 6px 0px 0px hsl(28, 76%, 44%);
   
}
.choice.rock{
    width:198px;
    height:194px;
    background: linear-gradient( hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    box-shadow:  0px 6px 0px 0px hsl(347, 75%, 35%);
}



.pick-btn{
    border: none;
    background: none;
}
    

.rulesBtn{
    width: 128px;
    height: 40px;
    border: 1px solid  hsl(217, 16%, 45%);
    border-radius: 8px;
    background: none;
    font-family: 'Barlow Semi Condensed', sans-serif; 
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;
    line-height: 19.2px;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer; 
}

.rulesBtn:focus{
    background: linear-gradient(0deg, #F3F3F3 0%, #FFFFFF 100%);
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    color: #3B4262; 
      

}
.btn{
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
 
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
    
}
    

.attribution a { 
    color: hsl(228, 45%, 44%); 
    bottom: 0;
}
.game{
    display: flex;
    justify-content: center;
    gap: 50px;
    
}


.game_heading{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
   
}
.game.pick-con{
    display: flex;
    justify-content: center;
}

.game_winner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}
  
.game_pick{
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
     
}
.game_text{
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;


}
.play-again{
    width: 220px;
    height: 48px;
    border-radius: 8px;
    border-style: none;
    color: #3B4262;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.5px;
    margin-top: 5px;
    
}




.modal {
    position: fixed;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    background-color: white;
    width:400px;
    height: 415px;
    border-radius: 8px;
    
}
.modal_heading{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    line-height: 32px;
    color: #3B4262;
}
.img-con{
    display: grid;
    justify-content: center;
}
.close-button{
    cursor: pointer;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.hidden{
    display: none;
}









/*Media query for mobile phones*/
@media screen and (min-width: 320px) and (max-width: 800px){

#logo{
    width: 30%;
    margin-left: 20px;
}

.wrapper{
    display: flex;
    place-items: center;
}
.container{
    width: 311px;
    height: 96px;
    border-radius: 5px;
    margin-top: 30px;
}

.scoreboard{
    width: 80px;
    height: 72px;
    border-radius: 4px;
    margin-right: 10px;

}
#score{
   
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.5625px;
}
#score-num{
    font-size: 40px;
    line-height: 40px;
    text-align: center
}
.player-choice{
    width: 312px;
    height: 281px;
    background-size: 166px 187px;
    gap: 20px;
}
.choice img{
    width: 48px;
    height: 56px;
    

}
.choice::before{
    width: 100px;
    height: 100px;
} 
.choice.paper{
    width: 130px;
    height: 133px;
}
.choice.scissors{
    width: 130px;
    height: 133px;
}
.choice.rock{
    width: 130px;
    height: 133px;
}


.btn{
    justify-content: center;
    position: absolute;
    bottom: 30px;
    width: 100%;
    margin: auto;

    
    
   
}
.modal-content{
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.modal_heading{
    display: flex;
    flex-direction: column;
    place-items: center; 
    margin-top: 70px;  
    margin-bottom: 50px;
   
 
}

.game_pick{
    width: 130px;
    height: 130px;
    margin-left: 10px;
   
    
}
.game_heading{
    font-size: 15px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 10px;
    position: relative;
    top: 200px;
   
    

}
.game_winner{
   position: absolute;
   top:350px;
}

.close-button{
    position: absolute;
    top: 600px;
}


footer{
    display: none;
}

}








